body{
	background-color: #f2f2f2;
}
#users-list{
	display: grid;
	grid-template-columns: 20% 20% 20% 20%;
}
.user-element{
	list-style: none;
	display: grid;
	grid-template-columns: 60% 40%;
	background-color: #e6a8a8;
	margin: 10px;
	padding: 0 0 30px 0;
	max-height: 105px;
}
.user-info{

}
.user-picture{
	justify-self: center;
	
	
}
#gender-wrapper{
	display: grid;
	grid-template-columns: 20% 20% 20% 20%;
}
#my-gender{
	
}
#looking-for{

}